body,h1 {font-family: 'Chewy', cursive, 'Amatic SC', cursive;
text-align: center;
justify-content: center;

}
body, html {height: 100%}
.bgimg {
  background-image: url('https://store-images.s-microsoft.com/image/apps.53658.63552592267592524.529fb17e-a013-4a98-a02a-43eda1db4129.589f17b4-f3ce-4788-a222-aa14769dc64b?mode=scale&q=90&h=1080&w=1920&format=jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.color1{
  background-color: #e6f9ff;
  padding: 45px ;
  border: 5px double blue;
}
.color1.1{

}
.color2{
  background-color: #ccf2ff;

}
.color3{
  background-color: #b3ecff;

}
p{
  font-family: 'Chewy', cursive;
  border: inset;
}.title {
  color: blue;
  padding: 10px;
}

.title {
  color: black;
  padding: 10px;
}

.title h1 {
  font-family: 'Dancing Script', cursive;
}

.main {
  font-family: 'Chewy', cursive;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
}

.border {
  border: 5px inset blue;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 24px;
  font-family: "Chewy", sans-serif;
  padding: 5px;
}

.animal {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: 10px dotted blue;
}

.animal p {
  font-family: "Chewy", sans-serif;
}
